.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.line {
  width: 24px;
  height: 2px;
  background-color: var(--bg-dark);
  border-radius: 2px;
  z-index: 1000;
}
