.container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 80%;
  padding: 4rem 0;
  color: var(--font-color-light);
}

.header p {
  font-weight: 500;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}

.header h3 {
  font-size: var(--header-hero-size);
}

.detailsContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: var(--bg-light);
}

.details {
  display: grid;
  grid-template-columns: 45% 45%;
  padding: 5rem 0;
  width: 80%;
  justify-content: space-between;
}

.details h3 {
  font-size: var(--header-hero-size);
}
