.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-light);
}

.lightContainer {
  background-color: var(--bg-light);
  color: var(--font-color-dark);
  padding-top: 1.5rem;
}

.planVisitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1.5rem 0;
  width: 45%;
  background-color: var(--bg-dark);
  border-radius: 50rem;
  margin-bottom: 1rem;
  box-shadow:
    0 2px 15px 3px rgba(0, 0, 0, 0.2),
    0 1px 13px 3px rgba(0, 0, 0, 0.1);
  color: var(--font-color-light);
}

.planVisitContainer h3 {
  font-size: var(--header3-size);
  white-space: nowrap;
  font-weight: 600;
}

.light {
  background-color: var(--bg-light);
  color: var(--font-color-dark);
  box-shadow: none;
}

@media (max-width: 1024px) {
}

@media (max-width: 1200px) {
  .planVisitContainer {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .planVisitContainer {
    width: 80%;
  }
  .planVisitContainer h3 {
    display: none;
  }
}
